*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #333333;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
/* nav */
nav{
    height: 100px;
    display: flex;
    width: 100%;
    background-color: #3cb149;
}
ul.gnb{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: space-around;
}
ul.gnb>li{
    position: relative;
    height: 40px;
    line-height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul.gnb>li:first-child{
    padding-left: 30px;
}
ul.gnb>li>a{
    display: block;
}
ul.gnb>li{
    width: 20%;
}
ul.gnb>li:nth-child(2):hover,
ul.gnb>li:nth-child(3):hover,
ul.gnb>li:nth-child(4):hover,
ul.gnb>li:last-child:hover{
    background-color: #1d8844;
}

ul.gnb>li:nth-child(2)>ul.lnb>li:hover,
ul.gnb>li:nth-child(3)>ul.lnb>li:hover,
ul.gnb>li:nth-child(4)>ul.lnb>li:hover,
ul.gnb>li:last-child>ul.lnb>li:hover{
    background-color: #3cb149;
}
ul.lnb{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #1d8844;
    z-index: 100;
}
ul.lnb>li{
    height: 40px;
}
/* slide */
.slide{
    height: 300px;
    overflow: hidden;
}
.slidein{
    height: 300px;
    width: 3600px;
}
.slideimg{
    height: 300px;
    width: 1200px;
    position: relative;
    display: inline-block;
}
.slideimg>img{
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.slideimg>.txt{
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
    padding: 5px 20px;
}

/* main */
main{
    height: 200px;
    display: flex;
}
.notice{
    width: 33.333334%;
    height: 100%;
    position: relative;
}
.notice h3{
    text-align: center;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    border: 1px solid;
    border: 1px solid #333333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.notice ul{
    list-style-type: none;
    position: absolute;
    top: 44px;
    border: 1px solid ;
    width: 380px;
    margin: 0 6px;
    padding: 8.5px 6px;
    border-radius: 10px;
}
.notice ul>li>a{
    display: flex;
    align-items: center;
    height: 33px;
    padding-left: 8px;
}
.notice ul>li>a>p{
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
}
.notice ul>li>a>span{
    width: 50px;
}
.notice>.eraser{
    position: absolute;
    width: 98px;
    height: 5px;
    background-color: #ffffff;
    top: 42px;
    left: 11px;
}
.notice>ul>li:hover,
.notice>ul>li>a:hover{
    background-color: #434748;
    color: #ffffff;
}
.gallery{
    width: 33.333334%;
    height: 100%;
    position: relative;
}
.gallery h3{
    width: 100px;
    text-align: center;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    border: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.galleryimg{
    position: absolute;
    top: 44px;
    margin-left: 4px;
    padding: 12px 8px;
    border: 1px solid;
    border-radius: 10px;
}
.galleryimg img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: #ffffff 1px solid;
}
.gallery>.eraser{
    position: absolute;
    width: 98px;
    height: 5px;
    background-color: #ffffff;
    top: 42px;
    left: 11px;
}
.banner{
    width: 33.333334%;
    height: 100%;
    overflow: hidden;
    padding-top: 5px;
    position: relative;
}
.bannerslide{
    width: 1210px;
    height: 200px;
}
.bannerimg{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 190px;
}
.bannerimg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 190px;
    object-fit: cover;
    border: 1px solid;
    border-radius: 3px;
}
.bannerimg p{
    display: block;
    padding: 5px;
    font-size: 14px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 120px;
    right: 10px;
    border-radius: 5px;
    color: #ffffff;
}
.dot1,.dot2,.dot3{
    cursor: pointer;
}
.dot1{
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    left: 185px;
    z-index: 100;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.dot2{
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    left: 200px;
    z-index: 100;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.dot3{
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    left: 215px;
    z-index: 100;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* footer */
footer{
    height: 100px;
    background-color: #3cb149;
    display: flex;
    align-items: center;
}
.logoarea{
    padding-left: 30px;
    width: 30%;
}
.copyarea{
    width: 58%;
}
.sitearea{
    width: 12%;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}
/* popup */
.pop{
    position: fixed;
    text-align: center;
    top: 150px;
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: none;
}
